body,
html {
  height: 100%;
}

.bg {
  background: url("group11.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.main-form {
  margin-top: 20%;
  padding: 5%;
  background-color: #e6f1f8;
  border-radius: 5%;
}

.submit-btn {
  width: 100%;
  border-radius: 100px;
  background-color: rgb(17, 105, 128);
}

/* .dashboardBg {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  min-height: 1000px;
} */

.opacity {
  background: rgba(4, 6, 27, 0.5);
}
.sideside {
  border-top: 1px solid black;
  position: fixed;
  height: 100%;
}

.sideside h4 {
  color: white;
}
.sidebarlinks {
  height: 50px;
  color: white;
  padding: 10px auto 10px auto;
  background-color: rgba(106, 106, 107, 0.3);
  border-top: 1px solid white;
  display: flex;
  justify-content: left;
  align-items: center;
}

.sidebarlinks:hover {
  background-color: rgba(130, 130, 133, 0.3);
  border-right: 3px solid white;
}

.pendingtext {
  border: 1px solid white;
  width: 100%;
}
.dashboardCards {
  background-color: rgba(68, 68, 71, 0.3);
}
