<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'styles.css' %}"
      media="screen,projection"
    />

    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'materialize/css/materialize.css' %}"
      media="screen,projection"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    {% comment %} {% if user.is_authenticated %}
    <nav style="background-color: white">
      <div class="nav-wrapper container">
        <a href="{% url 'home' %}" style="color: black" class="brand-logo"
          >Safewalk</a
        >

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a style="color: black" href="{% url 'dashboard' %}">Dashboard</a>
          </li>
        </ul>
      </div>
    </nav>
    {% endif %} {% endcomment %}
    <div class="">{% block content %} {% endblock content %}</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static '/main.js' %}"></script>
    <script
      type="text/javascript"
      src="{% static 'materialize/js/materialize.js' %}"
    ></script>
  </body>
</html>
