{% extends 'main/base.html'%} {% load static %} {% block content %}
<link
  type="text/css"
  rel="stylesheet"
  href="{% static 'styles.css' %}"
  media="screen,projection"
/>

<div class="row">
  <div class="col s12 m8 l8 center-align">
    <h2 class="">SAFEWALK</h2>
    <p>Why Walk Alone? We'll walk with you</p>
    <img src="{% static 'people.png' %}" alt="" class="responsive-img" />
  </div>

  <div class="col s12 m4 l4">
    <div class="main-form">
      <div class="form-words center-align">
        <h4>Lets Walk</h4>
        <p>To request a walk</p>
        <p>Please fill in the following details</p>
      </div>

      <form class="input-field" method="POST">
        {% csrf_token %}
        <div class="input-field">
          <label for="id_name">Name</label>
          {{ form.name }}
        </div>
        <div class="input-field">
          <label for="id_phone">Phone</label>
          {{ form.phone }}
        </div>
        <div class="input-field">
          <label for="id_fromlocation">From</label>
          {{ form.fromlocation }}
        </div>
        <div class="input-field">
          <label for="id_tolocation">to</label>
          {{form.tolocation }}
        </div>

        <button
          class="submit-btn waves-effect btn"
          type="submit"
          name="button"
          href="{% url 'home' %}"
        >
          submit
        </button>
      </form>
    </div>
  </div>
</div>

<h4>{{ data }}</h4>

<a href="{% url 'login' %}">Login</a>

{% endblock%}
